.button {
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
    display: flex;
    gap: 5px;
}

.primary:hover {
    background-color: #888888;
}

.secondary {
    background-color: #535bf2;
}

.secondary:hover {
    background-color: #979aff;
}